footer {
    grid-row: 2 / span 1;
    background-color: rgb(37, 0, 1);
    color: #fff;
    height: fit-content;
}

footer h4 {
    padding: 50px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
}