.header ul li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
  
.header ul {
    background-color: #111;
    padding: 0;
    border-radius: 10px;
}

.header ul li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

.active {
    background-color: #0099FF;
}